<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
</head>

<ion-content style="border-left: 7px solid #ff987b">

  <div class="imagen">
    <img src="assets/img/telegram.png" alt="">
  </div>
  
  <div class="header">
    <h3>Feliz de verte</h3>
    <h1>Crea una<br>Nueva cuenta</h1>
  </div>

  <div class="form">
    <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
      <ion-input placeholder="Nombre" formControlName="nombre"></ion-input>
      <ion-input placeholder="Password" formControlName="password" type="password" ></ion-input>
      <ion-input placeholder="Confirmar Password"formControlName="confirmacionPassword" type="password"></ion-input>
    </form>
  </div>


  <div class="button signup" (click)="guardar()">
    Registrarse <ion-icon name="chevron-forward-outline"></ion-icon> 
  </div>
  <div class="footer signup-footer">
    <h3 [routerLink]="['/login']">Ya tienes una cuenta? <span (click)="showLoading()">Inicia Sesion</span></h3>
  </div>

  
</ion-content>
