<ion-header class="ion-no-border" mode="" [translucent]="true">
  <ion-toolbar class="ion-padding">
    <div class="info">
      <ion-back-button name="chevron-back-outline" defaultHref="folder/:id"></ion-back-button>
      <ion-avatar>
        <img src="assets/img/JC.jpg" alt="">
      </ion-avatar>
      <span class="details">
        <h1>JC</h1>
        <p>Online</p>
      </span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label>
      <h2>Cuenta</h2>
    </ion-label> 
  </ion-item>  
  <div>
    <div>
      <div>
        <ion-item>
          <ion-label position="floating">Ingrese número de telefono</ion-label>
          <ion-input placeholder="Ej: +56 9 9999 8888"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Escribe tu Apodo</ion-label>
          <ion-input placeholder="Escriba aqui..."></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea placeholder="Ingresa tu Biografía" [autoGrow]="true">
          </ion-textarea>
        </ion-item>
      </div>
    </div>
  </div>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label>
      <h2>Ajustes</h2>
    </ion-label> 
  </ion-item>  
  <div>
    <div>
      <div>
        <ion-item lines="none" routerLink="/privacidad">
          <ion-icon name="lock-closed"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h3>Privacidad y seguridad</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="/folder/:id">
          <ion-icon name="chatbubble"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h3>Chats</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="/coming-soon">
          <ion-icon name="color-wand"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h3>Coming Soon</h3>
          </ion-label>
        </ion-item>
        <ion-item lines="none" routerLink="/idioma">
          <ion-icon name="globe"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h3>Idioma</h3>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>  
</ion-list>

<ion-list>
  <ion-item>
    <ion-label>
      <h2>Ayuda</h2>
    </ion-label> 
  </ion-item>  
  <div>
    <div>
      <div>
        <ion-item lines="none" routerLink="/politicas">
          <ion-icon name="shield-checkmark"></ion-icon>
          <ion-label class="ion-text-nowrap">
            <h3>Politica de Privacidad</h3>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>
</ion-list>

<ion-list>
  <ion-label id="version">
  <p>Telegram para Android v9.0.2 (2808) store bundled armeabi-v7a armeabi</p>
  </ion-label>
</ion-list>

</ion-content>
