<ion-header class="ion-no-border" mode="" [translucent]="true">
  <ion-toolbar class="ion-padding">
      <ion-back-button defaultHref="folder/:id" slot="start"></ion-back-button>
    <ion-title slot="start">Nuevo grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" routerLink="#">
    <ion-label class="ion-text-nowrap">
      <h2>¿A quien quieres añadir?</h2>
    </ion-label>
  </ion-item>


  <div class="chat-list">
    <div class="recent-chats ion-padding">
      <div class="heading">
      </div>
      <div class="chats">
        <ion-item lines="none" routerLink="#" *ngFor="let user of users">
          <ion-avatar slot="start">
            <img src='{{user.imagen}}' alt="">
          </ion-avatar>
          <ion-label class="ion-text-nowrap">
            <h2>{{user.name}}</h2>
            <p>{{user.perfil}}</p>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon  name="apps"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button routerLink="/mensajes-guardados">
        <ion-icon name="bookmark"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/coming-soon">
        <ion-icon name="color-wand"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/idioma">
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
