
  <ion-toolbar>
    <div class="header ion-padding">
      <div class="info">
        <ion-back-button name="chevron-back-outline" defaultHref="folder/:id"></ion-back-button>
        <ion-avatar>
          <img src="assets/img/han.jpg" alt="">
        </ion-avatar>
        <span class="details">
          <h1>Han Solo</h1>
          <p>Online</p>
        </span>
      </div>
      <div class="calling">
        <ion-icon name="call-outline"></ion-icon>
      </div>
    </div>
  </ion-toolbar>

<ion-content>
  <div class="conversation ion-padding">
    <div class="chat-section" id="chat">
      <div class="chat">
        <div class="yours messages">
          <div class="message other">
            Tengo una nave que te ayudara en tu viaje...
          </div>
          <div class="message other">
            Pero saldra un poco caro
          </div>
          <div class="last-message-other">
            <ion-avatar>
              <img src="assets/img/han.jpg" alt="">
            </ion-avatar>
            <div class="message last">
              Y ademas siempre llevo a mi amigo Chewie
            </div>
          </div>
          <span><ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime"></ion-datetime>
              </ng-template>
            </ion-modal></span>
        </div>
        <div class="mine messages">
          <div class="message">
            Muy bien, no hay  problema
          </div>
          <div class="message last">
            llevare mis amuletos y armas antiguas en el viaje entonces
          </div>
          <span>
            <ion-icon name="checkmark-done-outline"></ion-icon><ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime"></ion-datetime>
              </ng-template>
            </ion-modal>
          </span>
        </div>
        <div class="yours messages">
          <div class="message other">
            Sabes...
          </div>
          <div class="message other">
            Las religiones y las armas antiguas no son rival cuando tienes un buen blaster a tu lado, niño
          </div>
          <div class="message other">
            Esa es mi gran Lema y aparte
          </div>
          <div class="message other">
            He recorrido esta galaxia de un extremo a otro, he visto cosas muy raras
          </div>
          <div class="message other">
            Ningún campo de energía mística controla mi destino. Todo eso no son más que leyendas y tonterías
          </div> 
          <div class="message other">
            He visto cosas muy raras 
          </div>
          <div class="message other">
            pero nunca vi nada que me impulsara a creer que haya una única fuerza
          </div>
          <div class="last-message-other">
            <ion-avatar>
              <img src="assets/img/han.jpg" alt="">
            </ion-avatar>
            <div class="message last">
               poderosa que lo controla todo.
            </div>
          </div>
          <span><ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime"></ion-datetime>
              </ng-template>
            </ion-modal></span>
        </div>
        <div class="mine messages">
          <div class="message">
            Esta bien XD
          </div>
          <div class="message last">
            Esta sera una gran aventura por la galaxia, espero no encontrar alguna guerra...
          </div>
          <span>
            <ion-icon name="checkmark-done-outline"></ion-icon><ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime"></ion-datetime>
              </ng-template>
            </ion-modal>
          </span>
        </div>
      </div>
    </div>
    <div class="message-input">
      <ion-input placeholder="Escriba su mensaje..."></ion-input>
      <div class="send-button">
        <ion-button><ion-icon name="send-sharp"></ion-icon></ion-button>
      </div>
    </div>
  </div>
</ion-content>
