<ion-header class="ion-no-border" mode="" [translucent]="true">
  <ion-toolbar class="ion-padding">
    <div class="info">
      <ion-back-button name="chevron-back-outline" defaultHref="/perfil"></ion-back-button>
      <h4>Politicas de Privacidad</h4>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>1. Introducción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Esta Política de Privacidad establece cómo nosotros, Telegram Messenger Inc. ("Telegram"), usamos y protegemos los datos personales que usted nos proporciona, o que son obtenidos o generados por nosotros, en relación con su uso de nuestros servicios de mensajería basados en la nube (los "Servicios"). A los efectos de esta Política de Privacidad, "nosotros", "nos" y "nuestro" se refiere a Telegram, y "usted" se refiere a usted, el usuario de los Servicios.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>1.1 Principios de privacidad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Telegram tiene dos principios fundamentales a la hora de recoger y procesar datos privados:

      No utilizamos tus datos para mostrarte anuncios.
      Sólo almacenamos los datos que Telegram necesita para funcionar como un servicio de mensajería seguro y rico en características.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>1.2. Condiciones de servicio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Esta Política de Privacidad forma parte de nuestras Condiciones de Servicio, que describen los términos bajo los cuales usted utiliza nuestros Servicios y que están disponibles en https://telegram.org/tos. Por lo tanto, esta Política de Privacidad debe leerse conjuntamente con dichas condiciones.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>1.3. Índice de contenidos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La presente política de privacidad explica lo siguiente

      la base legal para el tratamiento de sus datos personales;
      qué datos personales podemos recopilar de usted;
      cómo mantenemos la seguridad de sus datos personales
      para qué podemos utilizar sus datos personales
      con quién pueden compartirse sus datos personales; y
      sus derechos en relación con sus datos personales.
     </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>1.4. Representante del EEE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Si usted vive en un país del Espacio Económico Europeo (EEE), los Servicios son proporcionados por Telegram, que a efectos de la legislación de protección de datos aplicable es el controlador de datos responsable de sus datos personales cuando usted utiliza nuestros Servicios. Sin embargo, dado que Telegram está ubicada fuera del EEE, hemos designado a una de las empresas de nuestro grupo con sede en el EEE, Telegram UK Holdings Ltd (71-75 Shelton Street, Covent Garden, Londres, Inglaterra, WC2H 9JQ), como representante al que puede dirigir cualquier cuestión que tenga relacionada con nuestro tratamiento de sus datos personales.
     </ion-card-content>
  </ion-card>
</ion-content>
