

ion-content{
    --background: #364aa5;
    border-left: 7px solid #ffd359;
    .imagen{
        width: 80px;
        height: 80px;
        margin-inline: 120px;
        margin-top: 3rem;
        background: linear-gradient(to right, var(--cores-dancantes));
        border-radius: 10px;
        position: relative;
        z-index: 999;
        animation: coresDancantes 5s linear infinite;
    }

    @keyframes coresDancantes {
        100%{
            filter: hue-rotate(360deg);
        }
        
    }


    .header{
        padding: 0 12vw;
        text-align: center;
        color: #fff;
        font-family: 'Merienda', cursive;
        h3{
            font-size: 1.3rem;
            color: #ffffff;
        }
        h1{
            font-size: 1rem;
            font-weight: 400;
        }
    }
    .form{
        padding: 0 12vw;
        margin-top: 50px;
        ion-input{
            --background: #4b57fd;
            --padding-start: 33px; 
            height: 55px;
            border-radius: 25px;
            margin-bottom: 22px;
            --placeholder-color: #9d9bef;
            --color: #fff;
        }

    }
    .button{
        width: 50vw;
        background-color: #ffd359;
        
        padding: 20px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        justify-content: flex-end;
        ion-icon{
            margin-left: 30px;
        }
    }
    .signup{
        margin-top: 50px;
        background-color: #ff987b;

    }
    .footer{
        color: #fff;
        padding: 0 12vw;
        
        text-align: center;

        h3{
            font-size: 1rem;
            font-weight: 400;

            span{
                font-size: 1.2rem;
                color: #ff987b;
                font-weight: 500;
            }
        }
    }
    .signup-footer{
        margin-top: 80px;
    }
}