<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap" rel="stylesheet">
</head>

<ion-content>

  <div class="imagen">
    <img src="assets/img/telegram.png" alt="">
  </div>

  <div class="header">
    <h3>Bienvenido a Telegram</h3>
    <h1>Porfavor Inicia Sesion<br>para continuar</h1>
  </div>

  <div class="form">
    <form [formGroup]="formularioLogin">
    <ion-input  type="Nombre" placeholder="Nombre"  formControlName="nombre"></ion-input>
    <ion-input placeholder="Contraseña" formControlName="password" type="password"></ion-input>
    </form>
  </div>


  <div class="button" (click)="ingresar()">
    Login<ion-icon name="chevron-forward-outline"></ion-icon> 
  </div>
  <div class="footer">
    <h3 [routerLink]="['/registro']">No estas registrado? <span (click)="showLoading()">Registrate</span></h3>
  </div>

  
</ion-content>