ion-header{
    ion-toolbar{
      --background: #7c7899;
      font-family: "Satisfy",cursive !important;
      letter-spacing: 2px;
      font-size: 2rem !important;
      color: #fff;
      ion-title{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 3px;
        font-size: 1.8rem !important;
      }
    }
  }


  ion-content{
    ion-list, ion-item{
        ion-label{
            h2{
                margin-left: 10px;
                color: #295ce9;
            }
        }
    }
    p{
        font-size: 12px;
        margin-left: 1px;
        opacity: 0.7;
    }
    
  }


  ion-checkbox {
    --size: 20px;
    --background-checked: #158bec;
  }
  
  ion-checkbox::part(container) {
    border-radius: 100px;
    border: 2px solid #158bec;
  }