<ion-header class="ion-no-border" mode="" [translucent]="true">
  <ion-toolbar class="ion-padding">
      <ion-back-button defaultHref="/perfil" slot="start"></ion-back-button>
    <ion-title slot="start">Idioma</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-label>
      <h2>Traducir mensajes</h2>
    </ion-label>
  
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Mostrar botón Traducir</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          No Traducir
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>

    
  <p>El botón "Traducir" aparecerá cuando hagas un solo toque en un mensaje de texto.</p>

  <ion-list>
    <ion-label>
      <h2>Traducir mensajes</h2>
    </ion-label>
    

    <ion-list>
      <ion-radio-group [allowEmptySelection]="true" value="turtles">
        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Español</h3>
            <p>Spanish</p>
          </ion-label>
          <ion-radio slot="start" value="español"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>English</h3>
            <p>English</p>
          </ion-label>
          <ion-radio slot="start" value="ingles"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>عربى</h3>
            <p>Arabic</p>
          </ion-label>
          <ion-radio slot="start" value="arabia"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>беларускі</h3>
            <p>Belarusian</p>
          </ion-label>
          <ion-radio slot="start" value="bielorussia"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Català</h3>
            <p>Catalan</p>
          </ion-label>
          <ion-radio slot="start" value="catalan"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Hrvatski</h3>
            <p>Croatian</p>
          </ion-label>
          <ion-radio slot="start" value="croacia"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>čeština</h3>
            <p>Czech</p>
          </ion-label>
          <ion-radio slot="start" value="czech"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Nederlands</h3>
            <p>Dutch</p>
          </ion-label>
          <ion-radio slot="start" value="dutch"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Suomi</h3>
            <p>Finnish</p>
          </ion-label>
          <ion-radio slot="start" value="finnish"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Français</h3>
            <p>French</p>
          </ion-label>
          <ion-radio slot="start" value="french"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Deutsch</h3>
            <p>German</p>
          </ion-label>
          <ion-radio slot="start" value="german"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Magyar</h3>
            <p>Hungarian</p>
          </ion-label>
          <ion-radio slot="start" value="hungarian"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Bahasa Indonesia</h3>
            <p>Indonesia</p>
          </ion-label>
          <ion-radio slot="start" value="indonesia"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Italiano</h3>
            <p>Italian</p>
          </ion-label>
          <ion-radio slot="start" value="italian"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>한국어</h3>
            <p>Korean</p>
          </ion-label>
          <ion-radio slot="start" value="coreano"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Bahasa Melayu</h3>
            <p>Malay</p>
          </ion-label>
          <ion-radio slot="start" value="malay"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Norsk</h3>
            <p>Norwegian</p>
          </ion-label>
          <ion-radio slot="start" value="norwegian"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>فارسی</h3>
            <p>Persian</p>
          </ion-label>
          <ion-radio slot="start" value="persa"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Polski</h3>
            <p>Polish</p>
          </ion-label>
          <ion-radio slot="start" value="polish"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Português(Brasil)</h3>
            <p>Portuguese(Brazil)</p>
          </ion-label>
          <ion-radio slot="start" value="portugues"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Русский</h3>
            <p>Russian</p>
          </ion-label>
          <ion-radio slot="start" value="ruso"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Српски</h3>
            <p>Serbian</p>
          </ion-label>
          <ion-radio slot="start" value="serbio"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Slovenský</h3>
            <p>Slovak</p>
          </ion-label>
          <ion-radio slot="start" value="slovak"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Svenska</h3>
            <p>Swedish</p>
          </ion-label>
          <ion-radio slot="start" value="swedish"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>Türkçe</h3>
            <p>Turkish</p>
          </ion-label>
          <ion-radio slot="start" value="turco"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>yкраїнська</h3>
            <p>Ukrainian</p>
          </ion-label>
          <ion-radio slot="start" value="ucraniano"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label class="ion-text-nowrap">
            <h3>O´zbek</h3>
            <p>Uzbek</p>
          </ion-label>
          <ion-radio slot="start" value="Uzbek"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>
  </ion-list>

</ion-content>
